/******************* X-Small devices (portrait phones, less than 576px) ****************************/
/******************* X-Small devices (portrait phones, less than 576px) ****************************/
/******************* X-Small devices (portrait phones, less than 576px) ****************************/

@media (max-width: 575px)  { 

    /* header */
    header .top   {
        flex-direction: column;
        text-align: center;
        }
     

    header .socialMedia ul  {
        justify-content: center;
    }
       header .socialMedia ul li {
        padding: 0px 8px;
        
    }
   .top .contact ul{
      flex-direction: column;
     
   }
      /* navbar */ 
      nav {
        flex-direction: column;
        height: auto;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /*---------------------- image cover ------------------ */
     
    .cover-container {  width: 70%; }
    .cover-container h1 { font-size: 1.5rem;}
    .cover-container h2 {font-size: 1rem } 
    .cover-container P{ width: 90%; line-height: 1.3;}
    .cover-container button {
        padding: 0.5rem 1rem;
        border: 1px solid black;
        font-size: 12px;  
    }
    /*---------------------- section : 3 div ------------------ */
    .sectione-one {
        flex-direction: column;
    }
    
    .sectione-one article {
         
        padding: 1rem;

    }
    .sectione-one img {
        width: 100%;
         height: 100%;
    }
    .sectione-one article h2{
        font-size: 1rem;
    }
     
    
    /*---------------------- section :(services) title and 4 div ------------------ */
    .services .services-head h1 {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .services .services-head h2 {
        font-size: 1rem;
    }

    .services .services-container article {
        margin-top: 0rem;
    }

    .services .services-container{
        
        flex-direction: column;
    }
    
    .services .services-container article {
        width: 100%;
        
     }

    
    /*---------------------- section :(services) title and 4 div ------------------ */
     
    .clients {
        
        height: auto;
         
      }
      .clients .clients-container{
         flex-direction: column;
         height: auto;
    
      }
    
    
      /*---------------------- section :(products)   ------------------ */
     .products-container {
         flex-direction: column;
     }
      .products .products-container .part1{
        width: 100%;
        text-align: center;
        
    }
    .products .products-container .part1 div{
        width: 100%;
    }

    .products .products-container .part2{
        width: 94%;
        height: 100%;
    }
    
      /*---------------------- section :(portfolio)   ------------------ */
    
    .portfolio {
        
        flex-direction: column;
    }
    .portfolio div{
        width: 100%; 
    }
     
    
      /*---------------------- section :(projects)   ------------------ */
      
    .projects .projects-container article {
        
       flex-direction: column;
       width: 100%;
         
    }
    
    
    .projects .projects-container article .projet-paragraph {
        
        width: 100%;
    }
    
    
    .projects .projects-container article .project-image {
        width: 100%;
    }
    
    
    /*---------------------- section :(about)   ------------------ */
    
    
    .about{
       flex-direction: column;
       height: auto;
       text-align: center;
       padding: 3rem 0;
    }
    
    .about .about-image img {
        padding-top: 0rem;
        height: 300px;
        
    }
 
    
    .about .about-container {
        width: 90%;
        line-height: 1.3;
         
    }
    
    .about .about-container h1 {font-size: 2rem; padding-top: 1rem;}
    
    
    /*---------------------- section :(team)  ------------------ */
    
    
     
    .team .team-container {
        display: flex;
       flex-direction: column;
    }
    
    .team .team-container div {
        width: 100%;
        margin: .5rem 0;
    }

     
    
    .team .team-container div img{
        width: 100%;
    }
    
    /*---------------------- section :(GLOBALLY)  ------------------ */
    
    .global {
       flex-direction: column;
         
    }
    
    .globaly-left {
        width: 100%;
        
    }
    
    
    .globaly-right {
        width: 100%; 
        margin-top: 1rem;
        
    }
     
    /*---------------------- contact us ------------------ */
    .contacts {
        height: auto;
    }
   
     
    .contact-container {
       flex-direction: column;
    }
    .contact-container ul , .contact-container form  {
        
        flex-direction: column;
    
    }
     
    .contact-container form{
        padding-top: 40px;
    }
    .contact-container form input ,textarea {
        
        width: 400px;
       
    }
    .contact-container form button {
        padding: 10px 30px;
        width: 140px;
        margin: 10px;
        font-size: 13px;
        
    }
    
    /*---------------------- footer  ------------------ */
    footer{
        flex-direction: column;
        
    }
    
    footer div{
        width: 100% ;
        padding: 1rem;
        line-height: 1;
        height: auto;
    }
        /*---------------------- copyright  ------------------ */

    .copyright p {
        
        font-size: 12px;
        
        
    }
}
/**************************** Small devices (landscape phones, 576px and up)  ************/
/**************************** Small devices (landscape phones, 576px and up)  ************/
/**************************** Small devices (landscape phones, 576px and up)  ************/
/**************************** Small devices (landscape phones, 576px and up)  ************/
@media (min-width: 576px) and (max-width: 767px) {

     /* header */
     header .top   {
        flex-direction: column;
        text-align: center;
        }
     

    header .socialMedia ul  {
        justify-content: center;
    }
       header .socialMedia ul li {
        padding: 0px 8px;
        
    }
   .top .contact ul{
      flex-direction: column;
     
   }
      /* navbar */ 
      nav {
        flex-direction: column;
        height: auto;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /*---------------------- image cover ------------------ */
    
    .cover-container {  width: 70%; }
    .cover-container h1 { font-size: 1.5rem;}
    .cover-container h2 {font-size: 1rem } 
    .cover-container P{ width: 90%; line-height: 1.3;}
    .cover-container button {
        padding: 0.5rem 1rem;
        border: 1px solid black;
        font-size: 12px;  
    }
    /*---------------------- section : 3 div ------------------ */
    .sectione-one {
        flex-direction: column;
    }
    
    .sectione-one article {
         
        padding: 1rem;

    }
    .sectione-one img {
        width: 100%;
         height: 100%;
    }
    .sectione-one article h2{
        font-size: 1rem;
    }
     
    
    /*---------------------- section :(services) title and 4 div ------------------ */
    .services .services-head h1 {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .services .services-head h2 {
        font-size: 1rem;
    }

    .services .services-container article {
        margin-top: 0rem;
    }

    .services .services-container{
        
        flex-direction: column;
    }
    
    .services .services-container article {
        width: 100%;
        
     }

    
    /*---------------------- section :(services) title and 4 div ------------------ */
     
    .clients {
        
        height: auto;
         
      }
      .clients .clients-container{
         flex-direction: column;
         height: auto;
    
      }
    
    
      /*---------------------- section :(products)   ------------------ */
     .products-container {
         flex-direction: column;
     }
      .products .products-container .part1{
        width: 100%;
        text-align: center;
        
    }
    .products .products-container .part1 div{
        width: 100%;
    }

    .products .products-container .part2{
        width: 94%;
        height: 100%;
    }
    
      /*---------------------- section :(portfolio)   ------------------ */
    
    .portfolio {
        
        flex-direction: column;
    }
    .portfolio div{
        width: 100%; 
    }
     
    
      /*---------------------- section :(projects)   ------------------ */
    
   
      .projects .projects-container {
        flex-direction: column;
    
    }
    .projects .projects-container article {
        
       flex-direction: column;
       width: 100%;
         
    }
    .project-image {
        width: 100;
        width: 100%;
    }
    
     
    .projects .projects-container article .projet-paragraph {
       
        width: 100%;
    }
    
    
    .projects .projects-container article .project-image {
        width: 100%;
    }
    
    
    
    
    
    
    /*---------------------- section :(about)   ------------------ */
    
    
    .about{
       flex-direction: column;
       height: auto;
       text-align: center;
       padding: 3rem 0;
    }
    
    .about .about-image img {
        padding-top: 0rem;
        height: 300px;
        
    }
 
    
    .about .about-container {
        width: 90%;
        line-height: 1.3;
         
    }
    
    .about .about-container h1 {font-size: 2rem; padding-top: 1rem;}
    
    
    /*---------------------- section :(team)  ------------------ */
    
    
     
    .team .team-container {
        display: flex;
       flex-direction: column;
    }
    
    .team .team-container div {
        width: 100%;
        margin: .5rem 0;
    }

     
    
    .team .team-container div img{
        width: 100%;
    }
    
    /*---------------------- section :(GLOBALLY)  ------------------ */
    
    .global {
       flex-direction: column;
         
    }
    
    .globaly-left {
        width: 100%;
        
    }
    
    
    .globaly-right {
        width: 100%; 
        margin-top: 1rem;
        
    }
     
    /*---------------------- contact us ------------------ */
    .contacts {
        height: auto;
    }
   
     
    .contact-container {
       flex-direction: column;
    }
    .contact-container ul , .contact-container form  {
        
        flex-direction: column;
    
    }
     
    .contact-container form{
        padding-top: 40px;
    }
    .contact-container form input ,textarea {
        
        width: 400px;
       
    }
    .contact-container form button {
        padding: 10px 30px;
        width: 140px;
        margin: 10px;
        font-size: 13px;
        
    }
    
    /*---------------------- footer  ------------------ */
    footer{
        flex-direction: column;
        
    }
    
    footer div{
        width: 100% ;
        padding: 1rem;
        line-height: 1;
        height: auto;
    }
        /*---------------------- copyright  ------------------ */

    .copyright p {
        
        font-size: 12px;
         
    }
   
  } 



/***************** Medium devices (tablets, 768px and up) *****************************/
/***************** Medium devices (tablets, 768px and up) *****************************/
/***************** Medium devices (tablets, 768px and up) *****************************/


@media (min-width: 768px) and (max-width: 991px) {  
    
    

    .container {
        padding: 0px 0%;
    }

    .cover-container h1 {
         
        font-size: 3rem;
        
    }

    .cover-container h2 {
        
        font-size: 1rem;
        
    }

    /*---------------------- header ------------------ */
header ul li {
    padding: 6px;
}

 
/* navbar */


/*---------------------- image cover ------------------ */
 
.cover-container {
    width: 80%;
}


 
 

/*---------------------- section (portfolio) ------------------ */
.portfolio div {
    
    height: 136px;
   
}
 
 

  /*---------------------- section :(products)   ------------------ */
  .products .products-container .part2 {
    
    height: 420px;
    
}

    

   .products .products-container .part1{
       width: 50%;
       
   }
   .products .products-container .part1 div{
       
        height: 200px;
          
   }

    
   

  /*---------------------- section :(portfolio)   ------------------ */

.portfolio {
    margin-top: 1rem;
    
}
.portfolio div{
    width: 25%;
    height: 180px;
    overflow: hidden;
    
}


.portfolio div img{
    width: 100%;
    transition: .5s;
}

.portfolio div:hover img {
    transform: scale(1.2);
    
     
}

  /*---------------------- section :(projects)   ------------------ */

  .projects .projects-container {
    flex-direction: column;

}
 
.project-image {
    width: 100;
    width: 100%;
}

 
.projects .projects-container article .projet-paragraph {
   
    width: 100%;
}

.projects .projects-container article {
    flex-direction: row;
    width: 100%;
}
.projects {
  
    padding-top: 4rem;
}
 


/*---------------------- section :(about)   ------------------ */

.about .about-container h1 {font-size: 2rem;}
.about .about-container p {text-align: justify; width: 90%;}
  
/*---------------------- section :(team)  ------------------ */


.team .team-head { padding-top: 3rem; }

.team .team-container {
    display: flex;
     justify-content: space-around;
}

.team .team-container div {
    width: 25%;
    margin: 3rem 0;
}

.team .team-container div img{
    width: 100%;
}

/*---------------------- section :(GLOBALLY)  ------------------ */

.global {
 
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}

 
/*---------------------- contact us ------------------ */
 
.contact-container {
   
     margin: 2rem 0;
}
.contact-container ul , .contact-container form  {
    display: flex;
    flex-direction: column;
    margin: 0px 25px;
}
 
 
/*---------------------- footer  ------------------ */
 
footer {
    font-size: small;
}
footer div{
    width: 25% ;
    padding-top: 1rem;
    line-height: 1.7;
    height: 300px;
    padding: 0 2rem;
}
 
 

footer div button {
    
    width: 145px;
     
}

/*---------------------- copyright  ------------------ */

 } 
